<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入力ページ</title>
</head>

<body>
    <form th:action="@{/TrainingMainMethod/add}" method="post">

        １つ目の数字<input type="text" name="first">&nbsp;&nbsp;
        + &nbsp;&nbsp;
        ２つ目の数字<input type="text" name="second">
        =
        <br>
        <button>送信</button>
    </form>
</body>
</html>